<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
        <li>
            <a href='{{ .URL }}'><aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside></a>
            <a href='{{ .URL }}'>{{ .LinkTitle }}<h2>{{ .Description | markdownify }}</h2></a>
        </li>
    {{ end }}
</ul>
